.navigation-panel {
    border-bottom-style: groove;
    height: 5vh;
    width: 100%;
    position: fixed;
}

.inner-panel {
    position: fixed;
    margin-left: 30%;
}

.url-input {
    width: 200px;
}

.frame {
    padding-top: 3vh;
    width: 100%;
    height: 90vh;
}